{% extends 'templates/base.html.twig' %}


{% block content %}
	<div class="">
		<div class="space-x-5 bg-blue-800 shadow-lg py-4 flex flex-row justify-between">
			<div class="inline-block pl-6">
				<img src="soul_white.png" alt="SOUL [placeholder]" class="h-8 text-white"/>
			</div>
			<div class="inline-block text-right pr-5">
				<p class="text-white text-lg font-bold align-bottom mt-1">Version 1.16.2</p>
			</div>
		</div>
		<div class="bg-white shadow-lg py-32 text-center">
			<div class="text-3xl pb-36">
				<i class="fas fa-check fa-10x text-indigo-900"></i>
				<p class="text-center text-blue-900 xl:text-4xl lg:text-3xl md:text-2xl sm:text-xl font-medium pb-2">
					Installation complete ! You are now ready to go !</p>
				<p class="text-center text-gray-900 xl:text-3xl lg:text-2xl md:text-xl sm:text-lg font-normal">Cupcake
					ipsum dolor sit amet jelly-o chocolate cake. Candy canes candy canes candy.</p>
			</div>
		</div>
		<div class="space-x-12 bg-gray-200 text-center pt-12 pb-28 pt-16 flex flex-row justify-center">
			<div class="inline-block bg-white rounded-3xl pb-20 w-1/4 h-96 pt-12">
				<i class="fas fa-book fa-8x text-blue-900 pb-5"></i>
				<p class="text-center text-blue-900 xl:text-3xl lg:text-2xl md:text-xl sm:text-lg font-normal">
					Documentation</p>
				<p class="text-center text-gray-900 xl:text-2xl lg:text-xl md:text-lg sm:text-md font-normal">Browse
					components, guides, and references</p>
			</div>
			<div class="inline-block bg-white rounded-3xl pb-16 w-1/4 h-96 pt-12">
				<i class="far fa-compass fa-8x text-blue-900 pb-5"></i>
				<p class="text-center text-blue-900 xl:text-3xl lg:text-2xl md:text-xl sm:text-lg font-normal">
					Tutorials</p>
				<p class="text-center text-gray-900 xl:text-2xl lg:text-xl md:text-lg sm:text-md font-normal">Create
					your first page</p>
			</div>
			<div class="inline-block bg-white rounded-3xl pb-16 w-1/4 h-96 pt-12">
				<i class="fab fa-github fa-8x text-blue-900 pb-5"></i>
				<p class="text-center text-blue-800 xl:text-3xl lg:text-2xl md:text-xl sm:text-lg font-normal">
					Repository</p>
				<p class="text-center text-gray-900 xl:text-2xl lg:text-xl md:text-lg sm:text-md font-normal">Github
					Repository</p>
			</div>
		</div>
		<div>
			<div class="space-x-4 bg-blue-800 shadow-lg py-4 flex flex-row justify-between">
				<p class="text-white text-xl font-medium px-5 align-text-bottom pt-1">Bacon ipsum dolor amet ball tip
					ribeye kevin, prosciutto turkey.</p>
				<span class="text-white text-xl font-medium px-5 align-center">
              <i class="fab fa-font-awesome fa-2x"></i>
              <i class="fab fa-font-awesome fa-2x"></i>
              <i class="fab fa-font-awesome fa-2x"></i>
            </span>
			</div>
		</div>
	</div>
{% endblock %}