<h1 class="font-mono">LOGIN PAGE</h1>
<form action="/login/check" method="get">
    <input type="text" placeholder="Username" name="name">
    <input type="password" placeholder="Password" name="password">
    <input type="submit" value="Submit">
</form>
