<!DOCTYPE html>

<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Base layout</title>
    <link href="https://unpkg.com/tailwindcss@%5E2/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>
    {% block content %}{% endblock %}
</body>
</html>