{% extends 'templates/base.html.twig' %}

{% block content %}


<h1>Register</h1>

{{ $form->begin('', 'post') }}
    {{ $form->field($model, 'name') }}
    {{ $form->field($model, 'email') }}
    {{ $form->field($model, 'password')->passwordField() }}
    {{ $form->field($model, 'passwordConfirm')->passwordField() }}
    <button class="btn btn-success">Submit</button>
{{ $form->end() }}

{% endblock %}
