<!DOCTYPE html>

<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Error 404</title>
</head>

<body>

    <h1>ERREUR 404</h1>
    <p> Nous n'avons pas trouvé la page.
        Veuillez écrire une URL correcte.</p>
    <p> Ex: .../helloworld</p>

</body>
</html>